#{% extends "base.html"%}
#{% block content%}
<!DOCTYPE html>

<html>
	<head>
			
	</head>
	<body>



		<form>
			<h1>Add Food Item</h1>
			<input type="text" name=food>
			{% if items %}
				{% for item in items %}
					<input type="hidden" name=food value={{item}}>
				{% endfor %}
			{% endif %}
			<button>Add</button>
		</form>

		{% if items %}
			<h2>Shopping List</h2>
				<ol>
				{% for item in items %}<li>{{item}}</li>
				{% endfor %}
				</ol>
		{% endif %}
		
		
	</body>

</html>
{%endblock%}