<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
      <h1>Hiiiii in new app changes</h1>
	<ul class="nav navbar-nav">
		<li class="current_page_item"><a href="http://www.learningaboutelectronics.com">
		<div class="dropdown">
   					 <button class="dropbtn">Home
					 <i class="fa fa-caret-down"></i>
					    </button>
    					<div class="dropdown-content">
					      <a href="#">Link 1</a>
					      <a href="#">Link 2</a>
					      <a href="#">Link 3</a>
					</div>
		</div>
		</a></li>
		<li><a href="http://www.learningaboutelectronics.com/Articles">Articles</a></li>
		<li><a href="http://www.learningaboutelectronics.com/Projects">Projects</a></li>
		<li><a href="https://www.docpid.com/">Forum <font size="3" color="red">posts</font></a></li>
		<li><a href="http://www.learningaboutelectronics.com/Calculators">Calculators</a></li>
		<li><a href="http://www.learningaboutelectronics.com/Contact">Contact</a></li>
	</ul>
</body>
</html>